.input {
  width: 100%;
}

.input__box {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input + .input {
  margin-top: 20px;
}

.input__label {
  color: #A0A0A0;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;

  display: block;
  margin-bottom: 10px;
}

.input__item {
  background-color: #F9F9F9;
  border: none;
  border-radius: 8px;
  outline: none;

  color: #000000;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  text-align: left;

  width: 100%;
  height: 46px;
  padding: 15px;
}

.input__item::placeholder {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
}

.input__error {
  display: none;

  color: #EE3465;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;

  padding-left: 15px;
  margin-top: 10px;
}

.input__error_visible {
  display: block;
}