.Preloader {
  border: 5px solid darkgray;
  border-top: 5px solid #f2f2f2;
  border-radius: 50%;

  box-sizing: border-box;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;

  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  grid-column: 1/-1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
