.Header {
  background-color: rgba(243, 193, 248, 1);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: 18px 70px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .Header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 400px) {
  .Header {
    padding: 18px 14px;
  }
}
