.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;

  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .7s ease-in-out;
}

.menu__link:hover {
  opacity: .5;
}


.menu__link_film + .menu__link_film {
  margin-left: 20px;
}


.menu__link_profile {
  background-color: #F9F9F9;
  border-radius: 20px;

  font-weight: 500;
  line-height: 32px;

  width: 100px;
  height: 32px;
  margin-left: 50px;
  box-shadow: 1px 3px 4px darkgray;
}


.menu__button {
  background-image: url(../../../images/accaunt_image.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 44px;
  height: 44px;
  display: none;
}

.menu__button:hover {
  opacity: .5;
}


@media screen and (max-width: 770px) {
  .menu__link {
    display: none;
  }

  .menu__button {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .menu__button {
    width: 40px;
    height: 43px;
  }
}
